<% layout("/layouts/boilerplate") %>
    <style>
     /* General Styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
}

#filters {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

#filters::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome/Safari */
}

.icon {
  padding: 0 10px;
  cursor: pointer;
}

.tab-box {
  display: flex;
  flex-wrap: nowrap;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0 5px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  flex: 0 0 auto;
  transition: transform 0.3s;
}

.filter:hover {
  transform: scale(1.1);
}

.filter i {
  font-size: 24px;
  margin-bottom: 5px;
}

.filter p {
  margin: 0;
  font-size: 14px;
}

/* Responsive Styles */

/* For screens less than 768px */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 5px;
  }

  #filters {
    width: 100%;
    justify-content: space-between;
  }

  .icon {
    display: none; /* Hide navigation arrows on smaller screens */
  }

  .filter {
    flex: 1 0 auto; /* Make filters take up more space */
    margin: 0 3px;
  }

  .filter i {
    font-size: 20px;
  }

  .filter p {
    font-size: 12px;
  }
}

/* For screens less than 480px */
@media screen and (max-width: 480px) {
  .header {
    padding: 5px;
  }

  .filter {
    padding: 5px;
    margin: 0 2px;
  }

  .filter i {
    font-size: 18px;
  }

  .filter p {
    font-size: 10px;
  }
}

    </style>

<div class="header">
  <div id="filters">
       <div class="icon"><i class="fa-solid fa-angle-left" id="left"></i></div>
      <div class="tab-box">
        <div class="filter">
          <div><i class="fa-solid fa-fire"></i></div>
          <p> All</p>
        </div>
        <div class="filter" data-filter-property="Rooms">
          <a href="https://www.ixigo.com/hotels" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Iconic cities">
          <a href="https://www.planetware.com/world/top-cities-in-the-world-to-visit-eng-1-39.htm" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Mountains">
          <a href="https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountains</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Castles">
          <a href="https://www.historyhit.com/guides/most-beautiful-castles-in-the-world/" style="text-decoration: none; color: inherit;">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Swiming pool">
          <a href="https://www.thespruce.com/swimming-pool-types-designs-and-styles-2737104" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Swimming pool</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Farm">
          <a href="https://farmingbase.com/types-of-farms/" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farm</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Camping">
          <a href="https://www.tourism-of-india.com/blog/best-camping-sites-in-india/" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Temple">
          <a href="https://www.hindutsav.com/famous-temples-india/" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-gopuram"></i></div>
            <p>Temple</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Arctic">
          <a href="https://www.britannica.com/place/Arctic" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-person-snowboarding"></i></div>
            <p>Arctic</p>
          </a>
        </div>
        
        
        <div class="filter" data-filter-property="Arctic">
          <a href="https://trains.abhibus.com/?channel=abhibus-web" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-train-tram"></i></div>
            <p>Train</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Arctic">
          <a href="https://www.abhibus.com/" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-bus"></i></div>
            <p>Bus</p>
          </a>
        </div>
        
        <div class="filter" data-filter-property="Arctic">
          <a href="https://www.ixigo.com/flights?utm_source=abhibus&utm_medium=abhiwebf" style="text-decoration: none; color: inherit;">
            <div><i class="fa-solid fa-plane-departure"></i></div>
            <p>Airplane</p>
          </a>
        </div>
        
      </div>
       <div class="icon"><i class="fa-solid fa-angle-right" id="right"></i></div>
 </div>
 
  <div class="tax-toggle">
    <div class="form-check form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label " for="flexSwitchCheckDefault">Display total after taxes</label>
    </div>
  </div>


    </div>

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b> <br>
                                &#8377 <%= listing.price.toLocaleString("en-IN") %> /night
                                <i class="tax-info"> &nbsp; &nbsp; +18% gst</i>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>

        <script>
            let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo){
      if (info.style.display != "inline"){
        info.style.display = "inline";
       }else { 
        info.style.display = "none";
       } 
    };
  });
        </script>

    